* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
  background-color: #f4f1de;
  color: black;
}

.App-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #f2cc8f;
  font-size: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-left: 68px;
  width: 200px;
}

footer {
  background-color: #f2cc8f;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-icon {
  margin: 15px;
}

main {
  padding-top: 47px;
  min-height: 100vh;
}

.profile {
  display: flex;
  min-height: 50vh;
  padding-top: 70px;
}

.ProfileInfo {
  margin-left: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.name-title {
  display: flex;
  flex-direction: column;
}

#landing-name {
  font-size: 40px;
}

#landing-title {
  margin-top: 10px;
  font-size: 25px;
}

#landing-pitch {
  width: 550px;
  font-size: 20px;
}

.ProfileImg {
  width: 40%;
  display: flex;
  justify-content: center;
}

#profile-image {
  width: auto;
  height: 300px;
  margin-top: 50px;
  margin-right: 86px;
  border-radius: 50%;
}

.img-collection {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 40px;
}

.image {
  height: 350px;
}

.image-figure1 {
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 108px;
  margin-right: auto;
}

.image-figure2 {
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: 108px;
}

.about-image {
  height: 340px;
}

.about-image-figure1 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 108px;
  margin-right: auto;
}

.about-image-figure2 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: 108px;
}

.text-about {
  font-size: 15px;
  margin: 25px;
}

.project-section {
  background-color: #3d405b;
  color: white;
  padding: 20px;
}

.title-about {
  margin-left: 86px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.indented-text {
  margin-left: 86px;
  margin-bottom: 15px;
  margin-right: 88px;
}

.project-showcase {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.project {
  width: 25%;
  height: 270px;
  background-color: #f4f1de;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
}

#one {
  margin-left: 86px;
}

#one:hover {
  background-image: url(./components/images/CERN.png);
  background-size: cover;
  background-position: center;
}

#one:hover #one-one {
  display: none;
}

#two:hover {
  background-image: url(./components/images/SOLAR.png);
  background-size: cover;
  background-position: center;
}

#two:hover #one-two {
  display: none;
}

#three {
  margin-right: 86px;
}

#three:hover {
  background-image: url(./components/images/christmas.png);
  background-size: cover;
  background-position: center;
}

#three:hover #one-three {
  display: none;
}

#four {
  margin-left: 270px;
}

#four:hover {
  background-image: url(./components/images/Trump.png);
  background-size: cover;
  background-position: center;
}

#four:hover #one-four {
  display: none;
}

#five {
  margin-right: 270px;
}

#five:hover {
  background-image: url(./components/images/Server.png);
  background-size: cover;
  background-position: center;
}

#five:hover #one-five {
  display: none;
}

.project-title {
  margin-bottom: 15px;
}

.project-text {
  margin-bottom: 15px;
}

.links {
  text-decoration: none;
  color: black;
}

.about-section {
  padding: 20px;
}

.education-section {
  padding: 20px;
}

.education {
  width: 25%;
  height: 270px;
  background-color: #3d405b;
  color: white;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
}

#seven,
#eleven {
  margin-left: 88px;
}

#nine,
#thirteen {
  margin-right: 88px;
}

.experience-section {
  padding: 20px;
}

.API-page {
  padding: 20px;
  text-align: center;
}

#button-quote {
  padding: 10px 20px;
  margin: 30px;
  background-color: red;
  border: 3px solid black;
  border-radius: 20px;
}

.project-page {
  padding: 20px;
}

@media only screen and (min-width: 1920px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
    text-align: left;
    background-color: #f4f1de;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1920px;
    margin: 0 auto;
  }

  #profile-image {
    width: auto;
    height: 550px;
    margin-top: 50px;
    margin-right: 90px;
    border-radius: 50%;
  }

  .App-header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 1920px;
    padding: 25px;
    background-color: #f2cc8f;
    font-size: 35px;
    font-weight: bold;
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    width: 350px;
  }

  #landing-name {
    font-size: 60px;
  }

  #landing-title {
    margin-top: 15px;
    font-size: 30px;
  }

  #landing-pitch {
    width: 750px;
    font-size: 30px;
  }

  .img-collection {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .image {
    height: 565px;
  }

  .image-figure1 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 110px;
    margin-right: auto;
  }

  .image-figure2 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: 100px;
  }

  .about-image-figure1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: auto;
  }

  .about-image-figure2 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: 0px;
  }

  .title-about {
    margin-left: 88px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 40px;
  }

  .indented-text {
    margin-left: 88px;
    margin-bottom: 15px;
    margin-right: 88px;
    font-size: 30px;
  }

  .project {
    width: 25%;
    height: 400px;
    background-color: #f4f1de;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
  }

  #four {
    margin-left: 390px;
  }

  #five {
    margin-right: 390px;
  }

  .project-title {
    font-size: 25px;
  }

  .project-text {
    font-size: 20px;
    margin-top: 10px;
  }

  .about-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 60px;
  }

  .education-section {
    padding: 20px;
  }

  .education {
    width: 25%;
    height: 400px;
    background-color: #3d405b;
    color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
  }

  .experience-section {
    padding: 20px;
  }

  .about-image {
    height: 495px;
  }

  .about-image-figure1 {
    margin: 90px;
  }

  .about-image-figure2 {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-right: 90px;
  }

  .API-page {
    padding: 100px;
    text-align: center;
  }

  #button-quote {
    padding: 20px 40px;
    margin: 50px;
    background-color: red;
    border: 5px solid black;
    border-radius: 30px;
    font-size: 20px;
  }

  #quote {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #profile-image {
    width: auto;
    height: 450px;
    margin-top: 50px;
    margin-right: 90px;
    border-radius: 50%;
  }

  .App-header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #f2cc8f;
    font-size: 30px;
    font-weight: bold;
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin-left: 33px;
    width: 350px;
  }

  #landing-name {
    font-size: 50px;
  }

  #landing-title {
    margin-top: 15px;
    font-size: 25px;
  }

  #landing-pitch {
    width: 700px;
    font-size: 25px;
  }

  .img-collection {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .image {
    height: 420px;
  }

  .image-figure1 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 100px;
    margin-right: auto;
  }

  .image-figure2 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: 90px;
  }

  .title-about {
    margin-left: 88px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 35px;
  }

  .indented-text {
    margin-left: 88px;
    margin-bottom: 15px;
    margin-right: 88px;
    font-size: 25px;
  }

  .project {
    width: 25%;
    height: 350px;
    background-color: #f4f1de;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
  }

  #four {
    margin-left: 305px;
  }

  #five {
    margin-right: 305px;
  }

  .project-title {
    font-size: 25px;
  }

  .project-text {
    font-size: 20px;
    margin-top: 10px;
  }

  .about-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 60px;
  }

  .education-section {
    padding: 20px;
  }

  .education {
    width: 25%;
    height: 350px;
    background-color: #3d405b;
    color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
  }

  .experience-section {
    padding: 20px;
  }

  .about-image {
    height: 395px;
  }

  .about-image-figure1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
  }

  .about-image-figure2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
  }

  .API-page {
    padding: 100px;
    text-align: center;
  }

  #button-quote {
    padding: 20px 40px;
    margin: 50px;
    background-color: red;
    border: 5px solid black;
    border-radius: 30px;
    font-size: 20px;
  }

  #quote {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
    text-align: center;
    background-color: #f4f1de;
    color: black;
  }

  .App-header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #f2cc8f;
    font-size: 20px;
    font-weight: bold;
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    width: 100%;
  }

  footer {
    background-color: #f2cc8f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
  }

  .footer-icon {
    margin: 15px;
  }

  main {
    margin-top: 47px;
    min-height: 100vh;
  }

  .profile {
    display: block;
    min-height: 50vh;
    padding-top: 70px;
  }

  .ProfileInfo {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .name-title {
    display: flex;
    flex-direction: column;
  }

  #landing-name {
    font-size: 20px;
  }

  #landing-title {
    margin-top: 10px;
    font-size: 15px;
  }

  #landing-pitch {
    width: 260px;
    font-size: 15px;
    margin-top: 15px;
  }

  .ProfileImg {
    width: 100%;
    display: block;
  }

  #profile-image {
    width: auto;
    height: 250px;
    margin-top: 50px;
    margin-right: 0px;
    border-radius: 50%;
  }

  .img-collection {
    display: block;
    justify-content: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .image {
    width: 250px;
    height: auto;
  }

  .image-figure1,
  .image-figure2 {
    margin: 30px;
  }

  .project-section {
    background-color: #3d405b;
    color: white;
    padding: 20px 0px;
  }

  .title-about {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .indented-text {
    margin-left: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .project-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .project {
    width: 75%;
    height: 270px;
    background-color: #f4f1de;
    margin: 10px 0px;
    padding: 15px;
    border-radius: 5px;
  }

  #one {
    margin-left: 0px;
  }

  #three {
    margin-right: 0px;
  }

  #four {
    margin-left: 0px;
  }

  #five {
    margin-right: 0px;
  }

  .project-text {
    margin-top: 10px;
  }

  .about-image {
    height: auto;
    width: 250px;
  }

  .about-image-figure1 {
    margin: 20px;
  }

  .about-image-figure2 {
    margin: 0px;
  }

  .about-section {
    padding: 25px;
  }

  .education-section {
    padding: 20px;
  }

  .education {
    width: 75%;
    height: 270px;
    background-color: #3d405b;
    color: white;
    margin: 10px 0px;
    padding: 15px;
    border-radius: 5px;
  }

  #seven,
  #eleven {
    margin-left: 0px;
  }

  #nine,
  #thirteen {
    margin-right: 0px;
  }

  .experience-section {
    padding: 20px;
  }
}
