* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
  background-color: #F4F1DE;
  color: black;
}

.App-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #F2CC8F;
  font-size: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-left: 70px;
  width: 200px;
}

footer {
  background-color: #F2CC8F;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-icon {
  margin: 15px;
}

main {
  margin-top: 47px;
  min-height: 100vh;
}

.profile {
  display: flex;
  min-height: 50vh;
  padding-top: 70px;
}

.ProfileInfo {
  margin-left: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.name-title {
  display: flex;
  flex-direction: column;
}

#landing-name {
  font-size: 40px;
}

#landing-title {
  margin-top: 10px;
  font-size: 25px;
}

#landing-pitch {
  width: 550px;
  font-size: 20px;
}

.ProfileImg {
  width: 40%;
  display: flex;
  justify-content: center;
}

#profile-image {
  width: 300px;
  margin-top: 50px;
  margin-right: 90px;
  border-radius: 50%;
}

.img-collection {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  margin-left: 80px;
  margin-bottom: 40px;
}

.image {
  height: 350px;
}

.image-figure {
  margin: 28px;
}

.about-image {
  height: 340px;
}

.about-image-figure1 {
  margin: 25px;
}

.about-image-figure2 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
}

.text-about {
  font-size: 15px;
  margin: 25px;
}

.project-section {
  background-color: #3D405B;
  color: white;
  padding: 20px;
}

.title-about {
  margin-left: 88px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.indented-text {
  margin-left: 88px;
  margin-bottom: 15px;
  margin-right: 88px;
}

.project-showcase {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.project {
  width: 25%;
  height: 270px;
  background-color: #F4F1DE;
  margin: 10px 33px;
  padding: 10px;
  border-radius: 5px;
}

.links {
  text-decoration: none;
  color: black;
}

.about-section {
  padding: 20px;
}

.education-section {
  padding: 20px;
}

.education {
  width: 25%;
  height: 270px;
  background-color: #3D405B;
  color: white;
  margin: 10px 33px;
  padding: 10px;
  border-radius: 5px;
}

.experience-section {
  padding: 20px;
}

@media only screen and (max-width: 1000px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
  text-align: center;
  background-color: white;
  color: black;
  }

  .App-header {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: baseline;
  padding: 10px;
  background-color: #FEC942;
  font-size: 20px;
  }

  nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  }

  main {
    min-height: 100vh;
  }

  
}