.App {
  text-align: center;
  background-color: white;
  color: black;
}

.App-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #FEC942;
  border-bottom: 1px solid black;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

main {
  margin-top: 47px;
  min-height: 100vh;
}

button {
  margin: 4px;
  padding: 2px 5px;
  width: 100px;
  height: 30px;
  background-color: red;
  border: solid white 2px;
  font-weight: bold;
}

#button-quote {
  width: 200px;
}

span {
  color: black;
  background-color: #FF3939;
}

.profile {
  display: flex;
  min-height: 90vh;
}

.ProfileInfo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.ProfileImg {
  width: 40%;
  background-color: #FF3939;
  border-bottom-left-radius: 80%;
}

#profile-image {
  width: 250px;
  margin-top: 50px;
  border-radius: 50%;
}

.img-collection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image {
  height: 210px;
}

.logo {
  width: 30px;
}

.text-about {
  font-size: 15px;
  margin: 25px;
}

.project-showcase {
  display: flex;
  align-items: center;
}

.project-showcase-left {
  display: block;
  width: 50%;
  margin-top: 0;
}

.project-showcase-right {
  display: block;
  position: relative;
  top: 100px;
  width: 50%;
}

.project {
  width: 50%;
  height: 270px;
  background-color: #FEC942;
  margin: 10px auto;
  padding-top: 1px;
  box-shadow: 0 5px 3px darkgray;
}

.project-right {
  width: 50%;
  height: 270px;
  background-color: #FEC942;
  margin: 10px auto;
  padding-top: 1px;
  box-shadow: 0 5px 3px darkgray;
}

#last-project {
  position: relative;
  top: -135px;
}

.page {
  padding-top: 13px;
}

@media only screen and (max-width: 1000px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
  text-align: center;
  background-color: white;
  color: black;
  }

  .App-header {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: baseline;
  padding: 10px;
  background-color: #FEC942;
  font-size: 20px;
  }

  nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  }

  main {
    min-height: 100vh;
  }

  button {
    margin: 4px;
    padding: 2px 5px;
    width: 100px;
    height: 30px;
    background-color: red;
    border: solid white 2px;
    font-weight: bold;
  }

  #button-quote {
    width: 200px;
  }

  span {
    color: black;
    background-color: yellow;
  }

  .profile {
    display: flex;
    min-height: 100vh;
  }

  .ProfileInfo {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 60%;
  }

  .ProfileImg {
    width: 40%;
    height: 90vh;
    background-color: #FF3939;
    border-bottom-left-radius: 80%;
  }

  #profile-image {
    width: 120px;
    margin-top: 50px;
    border-radius: 50%;
  }

  .image {
    width: 100px;
    margin-top: 35px;
    border-radius: 50%;
  }

  .logo {
    display: block;
    margin: 10px auto;
    width: 40px;
  }

  .project-showcase {
    display: block;
    align-items: center;
  }

  .project {
    width: 70%;
    height: 230px;
    background-color: #FEC942;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 5px 3px darkgray;
  }

  .title-about {
    font-size: 15px;
    margin: 20px;
  }

  .text-about {
    font-size: 15px;
    margin: 20px;
  }

  .project-title {
    margin: 20px;
  }

  .img-collection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  #bergen-img {
    height: 140px;
  }

  #rain-img {
    height: 140px;
    margin-top: 10px;
  }
}